<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{msg}}

      <div>
        <ul>
          <li v-for="(user,index) in users" :key="index">
            {{index}} -- {{user.age}} -- {{user.name}}
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li v-for="(val,key,index) in userInfo">{{index}} --{{key}} - {{val}}</li>
        </ul>
      </div>
    </div>
    <script>
      // js -> for in for  for of for each
      // vue -> for in
      const app = new Vue({
        el: "#app",
        data: {
          msg: "hello world",
          users: [
            {
              age: 18,
              name: "xiaohong",
            },

            {
              age: 28,
              name: "xiaohei",
            },
          ],
          userInfo: {
            xiaohong: {
              age: 18,
              name: "xiaohong",
            },
            xiaohei: {
              age: 19,
              name: "xiaohei",
            },
          },
        },
      });
    </script>
  </body>
</html>
